:root {
  /** background colors **/
  --bg-primary-grey: #f4f4f4;
  /** colors **/
  --primary-green: #639605;
  --grey-neutral-10: #dbdbdb;
  --grey-neutral-20: #b3b3b3;
  --grey-neutral-60: #555555;
}

/** helpers **/

.bg-primary-grey {
  background-color: var(--bg-primary-grey);
  height: 100vh;
}

.custom-shadow {
  box-shadow: 0px 1px 4px 1px #0000001f;
}

.mb-40 {
  margin-bottom: 2.5rem;
}

.text-grey-neutral-60 {
  color: var(--grey-neutral-60);
}

.title-custom-padding {
  padding-bottom: 20px;
  padding-top: 38px;
}

/** sizing **/
.fs-4-custom {
  font-size: 1.25rem;
}

.text-small {
  font-size: 0.875rem;
}

/** inputs **/

.custom-placeholder::placeholder {
  color: var(--grey-neutral-20);
  font-size: 0.875rem;
}

.form-control {
  padding: 0.375rem 1.125rem;
}

/** buttons **/

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--primary-green);
  --bs-btn-border-color: var(--primary-green);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--primary-green);
  --bs-btn-hover-border-color: var(--primary-green);
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--primary-green);
  --bs-btn-active-border-color: var(--primary-green);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--primary-green);
  --bs-btn-disabled-border-color: var(--primary-green);
  border-radius: 5px;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: var(--primary-green);
  opacity: 0.9;
}
